*{
    padding: 0;
    margin-top: 0;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

section{
    margin-left: 10px;
    margin-top: auto;
    text-align: center;
    padding: 10px;
}

section img{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}

section img:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease; 
    }

section p{
    margin-top: 25px;    
    font-size: large;
}

section h1{
    margin-top: 21px;
    font-size: 40px; 
}

/* Estilização geral da seção */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

img.lucasimg {
    margin-bottom: 20px;
}

/* Estilização do formulário */
form {
    width: 100%;
    max-width: 600px; /* Largura máxima do formulário */
    padding: 20px;
    border: 1px solid #ccc; /* Borda ao redor do formulário */
    border-radius: 8px; /* Cantos arredondados */
    background-color: #f9f9f9; /* Cor de fundo do formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ao redor do formulário */
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.form-check-input {
    margin-right: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #007bff; /* Cor do botão */
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}
